This is the show page for the shoe entries

<h2><%= @shoe_entry.name %></h2>
<h4><%= @shoe_entry.brand_id %></h4>





    <div class="nav">
      <br>
      <a href='/shoe_entries'><%= @shoe_entry.id %> Edit Entry</a><br>
        <a href='/shoe_entries'><%=@shoe_entry.id %> Delete Entry</a><br>
        <form class="" action="/shoe_entries/<%= @shoe_entry.id %>" method="post"
          <input type="hidden" name="_method" value="DELETE"
          <input type ="submit" name="" value="Delete this Entry">

      </form>
        <a href='/logout'>Logout</a><br>
      </div>
