<!DOCTYPE html>
<html>
<head>

<h3><%= @shoe_entry.name %></h3>
<h2><%= @shoe_entry.brand %></h2>
<h2><%= @shoe_entry.style %></h2>

<a href="/shoe_entries/<%=@shoe_entry.id%>"><%= @shoe_entry.url %></a></h4></font><br><br>


      <br>
      <font color="red"><%  if @shoe_entry.user_id == current_user.id %>
      <a href='/shoe_entries/<%=@shoe_entry.id%>/edit'><%= @shoe_entry.id %> Edit Entry</a><br>
      <form class="" action='/shoe_entries/<%=@shoe_entry.id%>/delete' method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="" value="Delete this Entry">
      </form>
      <% end %></font>
    </head>
    </html>
